body {
  margin: 0;
}

main {
  padding: 36px;
}
nav {
  background-color: blueviolet;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 15px 70px;
  align-items: center;
}

.nav-bar-left {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.proj-name {
  padding-left: 34px;
  font-size: 35px;
}
.form {
  display: grid;
  grid-template: 60px 60px / 1fr 1fr;
  gap: 17px;
}
input,
button {
  font-size: 20px;
  border-radius: 10px;
}
.form-button {
  grid-column: 1 / -1;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
}

.form-input {
  border: 1px solid #d5d4d8;
}
.meme {
  position: relative;
}

.meme--image {
  padding: 20px 300px;
  max-width: 50%;
  border-radius: 3px;
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
  padding-top: px;
}

.top {
  top: 0;
  padding-top: 34px;
}
